.cards {
    margin-top: 30px;
}

.cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 17px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 480px) {
    .cards__list {
      grid-gap: 10px; /* decrease the gap between cards on smaller screens */
    }
  }