.footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__label {
  margin: 0;
  line-height: 1.2;
}

@media screen and (max-width: 895px) {
  .footer {
    max-width: 584px;
    margin: 48px auto 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}

@media screen and (max-width: 635px) {
  .footer {
    max-width: 282px;
  }
}