.header {
  margin-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

.header__image {
  margin-bottom: 41px;
}

@media screen and (max-width:580px) {
  .header {
      margin-top: 28px;
      min-height: 0;
  }

  .header__image {
      padding-top: 45px;
      padding-left: 30px;
  }
}