.header {
  margin-top: 45px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
  padding-bottom: 20px;
  text-align: left;
}

.header__logo {
  height: 26px;
  width: 136px;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .header {
    box-sizing: border-box;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header__logo {
    height: 20px;
    width: 104px;
    margin: 0 auto; 
  }
  
  .header__line {
    margin-left: 0;
    margin-right: 0; 
  }
}